<div class="animated fadeIn">
    <h1 class="text-center">APLICACIÓN SOBRE HEROES</h1>
    <p class="text-justify">Es una aplicación de práctica hecha en angular, mediante la cual se puede ver la información de 7 héroes.<br>
        Se pueden realizar búsquedas, los datos son locales. Se pretende en un futuro mejorarla conectandola a una API.<br> La idea del proyecto no es mia, es una aplicación que sirve como ejemplo práctico en el curso que tomé en Udemy por Fernando Herrera.<br> Yo solo segui el código, aunque hice algunas variaciones pequeñas en diseño y código.</p>
    <img src="assets/img/marvelDC.jpg" alt="Marvel DC" class="img-fluid">
</div>

